<div class="margin">
		<div class="count mt-4">
			<h4>
				{{ offers.getTotalItemCount }}
				offers found
			</h4><hr>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				{% for offer in offers %}
					<div class="col-12 col-md-6 col-lg-4 col-xl-4 mt-4">
						<div id="search-card" class="text-center h-100">
							<div class="card-body mt-2">
								<a class="offer-card" href="{{ path('offer_show', { id : offer.id }) }}">
									<div class="card">
										<div class="cardHead ratio ratio-16x9">
											<img class="index-offer-picture" src="{{ vich_uploader_asset(offer, 'offerPicture') }}">
										</div>
										<div id="card-body" class="card-body">
											<article>
												<section class="sub-head">
													<img class="index-company-logo me-1" src="{{ vich_uploader_asset(offer.company, 'logoFile') }}">
													<p>{{ offer.company.name }}</p>
												</section>
                                                <div class="d-flex justify-content-center">
                                                    <h4 class="index-offer-title-section" style="display: flex; align-items: center;">
                                                        <strong>{{ offer.title }}</strong>
                                                    </h4>
                                                </div>
												<p class="mb-4">
													<img class="picto" src="{{ asset('build/images/picto/location-offer.svg') }}" alt="pictoLocation">
													{{ offer.location }}
												</p>
												<p>
													<section class="other-info mt-2 mb-2">
														<div class="grey-area">
															{{ offer.contract }}
														</div>
														<div class="grey-area">
															{{ offer.workFromHome }}
														</div>
														<div class="grey-area">
															{{ offer.minSalary // 1000 }}K
                                                        </div>
													</section>
												</p>
												<p id="offer-date">
													<img class="picto" src="{{ asset('build/images/picto/calendar.svg') }}" alt="pictoCalendar">
													posted
													{% set difference = date(offer.createdAt).diff(date(now)) %}
													{% set leftDays = difference.days %}
                                                        {% if leftDays == 1 %}
                                                            1
                                                        {% else %}
														    {% set years = (leftDays // 365 )%}
														    {% set months = (leftDays % 365) // 30.5 %}
                                                            {{ months }}
                                                            month(s) and
                                                            {% set days = ((leftDays % 365 ) % 30.5) %}
                                                            {{ days }}
														{% endif %}
                                                    day(s) ago
												</p>
                                            </article>
										</div>
									</div>
								</a>
                                {% if app.user %}
                                    {% if app.user.roles[0] is constant("App\\Entity\\USER::ROLE_CANDIDATE") %}
                                        <div class="text-end">
                                            <a href="{{ path('candidate_favorites', {id: offer.id})}}">
                                                <div class="mb-2 me-2">
                                                    <i class="bi {{ app.user.candidate.isOfferInFavorites(offer) ? 'bi bi-bookmark-fill' : 'bi bi-bookmark' }}"></i>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(offers) }}
		</div>
	</div>
