{% extends 'base.html.twig' %}

{% block title %}Edit Offer : {{ offer.title }}{% endblock %}

{% block body %}
    {% include "company/_dashboard.html.twig" %}
    {% include "company/_navigationBtnMobileCompany.html.twig" %}
	{% include "company/_navigationBtnDesktopCompany.html.twig" %}
    <div class="text-center mt-4 mb-4">
        <h1>Edit offer: </h1>
        <h3>#{{ offer.id }} - {{ offer.title }}</h3>
    </div>
    {% include "offer/_form.html.twig" %}
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 bt-4">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
    <div class="text-center">
        <button type="submit" data-bs-toggle="modal" data-bs-target="#deleteOfferModal" class="btn btn-secondary mt-4 bt-4">Delete</button>
    </div>
    </section>
    {% include "offer/_modalDeleteOffer.html.twig" %}
{% endblock %}
