{% extends 'base.html.twig' %}

{% block title %}Liste des annonces
{% endblock %}

{% block body %}

	<div class="count mt-4">
		<h4>Il y a
			{{ offers.getTotalItemCount }}
			offres au total</h4>
	</div>

	{% for offer in offers %}
		<a class="OfferCard" href="{{ path('offer_show', { id : offer.id }) }}">
			<div class="card">
				<div class="card-body">
					<article>
						{# TODO : ajouter le logo de l'entreprise #}
						<h3>
							{{ offer.title }}
						</h3>
						<p>
							{{ offer.location }}
						</p>
						<p>
							{{ offer.contract }}

							{{ offer.workFromHome }}

							{{ offer.minSalary }}
							-
							{{ offer.maxSalary }}
						</p>
						<p>
							posted
							{% set difference = date(offer.createdAt).diff(date(now)) %}
							{% set leftDays = difference.days %}
							{% if leftDays == 1 %}
								1 day
							{% else %}
								{% set years = (leftDays // 365 )%}
								{{ years }}
								year(s)
								{% set months = (leftDays % 365) // 30.5 %}
								{{ months }}
								month(s)

								{% set days = ((leftDays % 365 ) % 30.5) %}
								{{ days }}
								day(s) ago
							{% endif %}
						</p>
					</article>
				</div>
			</div>
		</a>
	{% endfor %}

	<div class="navigation d-flex justify-content-center mt-4">
		{{ knp_pagination_render(offers) }}
	</div>

{% endblock %}
