{% extends "base.html.twig" %}

{% block title %}
{{ offer.title }}
{% endblock %}

{% block body %}
	<div class="mb-4 mt-2">
		{% include "style/component/_navigationBtnMobileCompany.html.twig" %}
		{% include "style/component/_navigationBtnDesktopCompany.html.twig" %}
	</div>
	<section class="offer-show-header-section pt-4 pb-4" style="background-image: url(../../{{ offer.picture }})">
		<img class="index-company-logo" src="{{ asset('/%s' | format(offer.company.logo)) }}">
		<p>{{ offer.company.name }}</p>
		<h3 class="mb-4 mt-4">
			<strong>{{ offer.title }}</strong>
		</h3>
		<section class="other-info-in-offer-show">
			<div class="grey-area-in-offer-show">
				<img class="picto-in-header" src="{{ asset('build/images/picto/location-offer.svg') }}" alt="location-icon">
				<p>{{ offer.location }}</p>
			</div>
			<div class="grey-area-in-offer-show">
				<img class="picto-in-header" src="{{ asset('build/images/picto/contract.svg') }}" alt="briefcase-icon">
				<p>{{ offer.contract }}</p>
			</div>
			<div class="grey-area-in-offer-show">
				<img class="picto-in-header" src="{{ asset('build/images/picto/piggy-bank.svg') }}" alt="piggy-bank-icon">
				<p>{{ offer.minSalary // 1000 }}K - {{ offer.maxSalary // 1000 }}K</p>
			</div>
		</section>
		<p class="mt-4 mb-2">
		<img class="picto picto-calendar picto-in-header" src="{{ asset('build/images/picto/calendar.svg') }}" alt="Calendar-icon">
		posted
			{{ dateInterval }}
			ago
		</p>
		{% if app.user.company is same as offer.getCompany %}
			<div class="col text-center mt-4">
				<button type="button" class="btn btn-secondary mt-2 applicationbtn">Edit</button>
				<button type="button" class="btn btn-secondary mt-2 applicationbtn">Archive</button>
			</div>
		{% else %}
			{# <div class="col text-center mt-4">
				<button type="button" class="btn btn-secondary mt-2 applicationbtn d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply</button>
			</div> #}
		{% endif %}
	</section>
	<div class="margin">
		<div id="offer-description-card" class="show-offer-single-section p-3">
			<h4 class="card-title"><img class="picto" src="{{ asset('build/images/picto/building.svg') }}" alt="building-icon">Company
			</h4><hr>
			<div class="card-body mt-2 offer-show-content">
				{{ offer.company.presentation }}
			</div>
		</div>
		<div id="offer-description-card" class="show-offer-single-section p-3">
			<h4 class="card-title"><img class="picto-briefcase" src="{{ asset('build/images/picto/contract.svg') }}" alt="briefcase-icon">Job Description
			</h4><hr>
			<div class="card-body mt-2 offer-show-content">
				{{ offer.description }}
			</div>
		</div>
		<div id="offer-description-card" class="show-offer-single-section p-3">
			<h4 class="card-title"><img class="picto" src="{{ asset('build/images/picto/job-description.svg') }}" alt="job-description-icon">Candidate Profil
			</h4><hr>
			<div class="card-body mt-2 skills-tab offer-show-content">
				<ul>
				{% for offerSkill in offer.getSkills %}
					{% if offerSkill.type == 'hard' %}
						<li><img class="picto" src="{{ asset('build/images/picto/checked 1.5d86e0d4.svg') }}" alt="pictoChecked">{{ offerSkill.name }}</li>
					{% endif %}
				{% endfor %}
				{% for offerSkill in offer.getSkills %}
					{% if offerSkill.type == 'soft' %}
						<li><img class="picto" src="{{ asset('build/images/picto/checked 1.5d86e0d4.svg') }}" alt="pictoChecked">{{ offerSkill.name }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<div id="offer-description-card" class="show-offer-single-section p-3">
			<h4 class="card-title"><img class="picto" src="{{ asset('build/images/picto/interview.svg') }}" alt="interview-process-icon">Interview Process
			</h4><hr>
			<div class="card-body mt-2 offer-show-content">
				{{ offer.interviewProcess }}
			</div>
		</div>
		<section class="before-footer-btn mt-4">
			{% if app.user.company is same as offer.getCompany %}
				<div class="col text-center mt-4">
					<button type="button" class="btn btn-secondary mt-2 applicationbtn">Edit</button>
					<button type="button" class="btn btn-secondary mt-2 applicationbtn">Archive</button>
				</div>
			{% else %}
				{# <div class="col text-center mt-4">
					<button type="button" class="btn btn-secondary mt-2 applicationbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply</button>
				</div> #}
			{% endif %}
		</section>
		{% include "offer/_modalApply.html.twig" %}
	</div>
{% endblock %}
