{% extends "base.html.twig" %}

{% block title %}Fiche d'une annonce -
	{{ offer.title }}
{% endblock %}

{% block body %}
	<head
		class="OfferShowHeaderSection">
		{#TO DO : ajouter une bg image pour la section head #}
		{{ offer.company.name }}
		<h3>
			{{ offer.title }}
		</h3>
		<p>
			{{ offer.location }}
			{{ offer.contract }}
			{{ offer.minSalary }}
			-
			{{ offer.maxSalary }}
		</p>
		<p>offer posted
			{{ dateInterval }}
			ago</p>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
			Apply
		</button>
	</head>
	<h2>Company</h2>
	{{ offer.company.name }}
	<h2>Job Description</h2>
	<p>{{ offer.description }}</p>
	<h2>Candidate Profil</h2>
	{% for skill in offer.skills %}
		{{ skill.type }}
		{{ skill.name }}
	{% endfor %}
	<h2>Interview Process</h2>
	<p>{{ offer.interviewProcess }}</p>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Apply
	</button>
	{% include "offer/_modalApply.html.twig" %}
{% endblock %}
