<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Application message</title>
</head>
<body>
    <h1>Answer to your application to the offer #{{ application.id }}</h1>
    <h2>Title : {{ application.offer.title }}</h2>
    <p>Dear {{ application.candidate.firstname }}, </p>
    <p>Your application for the offer {{ application.offer.title }} has been refused.</p>
    <p>We regret to inform you that, we have come to the decision of not moving forward with your application. Please note that this decision is not a reflection of your abilities or potential. We value your interest in our Company, and we sincerely appreciate the time you took to apply.</p>
    <p>Kind regards, </p>
    <p>The {{ application.offer.company.name }} team</p>
</body>
</html>