{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <h1>Offer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>StartAt</th>
                <th>Contract</th>
                <th>WorkFromHome</th>
                <th>Description</th>
                <th>Experience</th>
                <th>MinSalary</th>
                <th>MaxSalary</th>
                <th>Location</th>
                <th>InterviewProcess</th>
                <th>Picture</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.title }}</td>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.startAt ? offer.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.contract }}</td>
                <td>{{ offer.workFromHome }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.experience }}</td>
                <td>{{ offer.minSalary }}</td>
                <td>{{ offer.maxSalary }}</td>
                <td>{{ offer.location }}</td>
                <td>{{ offer.interviewProcess }}</td>
                <td>{{ offer.picture }}</td>
                <td>{{ offer.number }}</td>
                <td>
                    <a href="{{ path('app_offer_type_show', {'id': offer.id}) }}">show</a>
                    <a href="{{ path('app_offer_type_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offer_type_new') }}">Create new</a>
{% endblock %}
