<nav class="navbar navbar-expand-lg">
	<div class="container-md" id="main-nav">
		<a class="navbar-brand" href="{{ path('home_index') }}">
			<img src="{{ asset('build/images/EXTERNATIC-LOGO.png') }}" alt="" width="170">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">About us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Find a job</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Find a company</a>
				</li>
			</ul>
			{% if app.user %}
				{% if app.user.roles[0] is constant("App\\Entity\\USER::ROLE_CANDIDATE") %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user.candidate.picture is not null %}
                            <img src="{{ vich_uploader_asset(app.user.candidate, 'pictureFile') }}" id="profile-picture-navbar" alt="profile-picture">
                        {% else %}
                            <img src="{{ asset("build/images/user.png") }}"  alt="default-user" width="50px">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 55px);" data-popper-placement="bottom-end">
                        <li><a class="dropdown-item" href="{{ path('logout') }}">Logout</a></li>
                        {% if app.user.candidate is not null %}
                            <li><a class="dropdown-item" href="{{ path('candidate_show', {'id': app.user.candidate.id}) }}">Show profile</a></li>
                        {% endif %}
                    </ul>
				{% elseif app.user.roles[0] is constant("App\\Entity\\USER::ROLE_COMPANY") %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user.company.logo %}
                            <img src="{{ vich_uploader_asset(app.user.company, 'logoFile') }}"  alt="company-logo" width="50px">
                        {% else %}
                            <img src="{{ asset("build/images/user.png") }}"  alt="default-user" width="50px">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 55px);" data-popper-placement="bottom-end">
                        <li><a class="dropdown-item" href="{{ path('logout') }}">Logout</a></li>
                    </ul>
				{% endif %}
			{% else %}
				<a href="{{ path('login') }}">LOGIN</a>
			{% endif %}
		</div>
	</div>
</nav>
