<div id="candidates-applications" class="rowgit">
    {% for application in offer.applications %}
        <a href="{{ path('company_candidate_application', {'id': application.id}) }}">
            <div class="col ">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="{{ vich_uploader_asset(application.candidate, 'pictureFile') }}" id="profile-picture-navbar" alt="profile-picture">
                    </div>
                    <div class="col-6">
                        <p>{{ application.candidate.firstname }} {{ application.candidate.lastname }}</p>
                    </div>
                    <div class="col-4">
                        {% if application.status == constant('App\\Entity\\Application::STATUS_RECEIVED') %}
                            <p ><img class="picto-application" src="{{ asset('build/images/picto/received.svg') }}" alt="pictoReceivedApplication">
                                {{ application.status }}
                            </p>
                        {% elseif application.status == constant('App\\Entity\\Application::STATUS_INREVIEW') %}
                            <p><img class="picto-application" src="{{ asset('build/images/picto/in-review.svg') }}" alt="pictoInReviewApplication">
                                {{ application.status }}
                            </p>
                        {% elseif application.status == constant('App\\Entity\\Application::STATUS_ACCEPTED') %}
                            <p><img class="picto-application" src="{{ asset('build/images/picto/accepted.svg') }}" alt="pictoAcceptedApplication">
                                {{ application.status }}
                            </p>
                        {% elseif application.status == constant('App\\Entity\\Application::STATUS_REJECTED') %}
                            <p><img class="picto-aplication" src="{{ asset('build/images/picto/rejected.svg') }}" alt="pictoRejectedApplication">
                                {{ application.status }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
