<div{{ attributes }}>
    <div class="row align-items-center justify-content-center mt-2" id="search-input">
        <div class="col-md-4 mt-4">
            <input type="text" class="form-control" placeholder="Find an offer" type="text" id="input_search" data-model="search">
            <img id="glass" class="position-absolute" src="{{ asset('build/images/picto/glass.svg') }}">
        </div>
    </div>
    <div class="row align-items-center justify-content-end mt-2" id="search-input">
        <a class="btn btn-secondary" role="button" href="{{ path('offer_form_new') }}" style="width: 14rem; margin-right: 0.8rem;">Add offer <img src="{{ asset('build/images/picto/add_doc.svg') }}"></a>
    </div>
    <div class="count m-4">
        <h5>
            {{ app.user.company.offers.count }}
            offers found
        </h5><hr>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="accordion accordion-flush" id="application-card" tabindex="1">
                {% for offer in this.searchOfferByCompany %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="row align-items-center p-3">
                                <h4 class="col col-md-6 col-sm-11">Offer #{{ offer.id }} {{ offer.title }}</h4>
                                <p class="col col-md-2 h6" id="offer-location">
                                    <img class="picto-application" src="{{ asset('build/images/picto/location-offer.svg') }}" alt="pictoLocation">
                                    {{ offer.location }}
                                </p>
                                <div class="col col-md-4" id="offer-buttons">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ path('offer_show', {'id': offer.id}) }}"><button class="btn btn-secondary btn-sm" >See more</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{ path('offer_form_edit', {'id': offer.id}) }}"><button class="btn btn-secondary btn-sm" style="--bs-btn-padding-x: 1.7rem;">Edit</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="#"><button class="btn btn-secondary btn-sm" style="--bs-btn-padding-x: 1rem;">Archive</button></a>
                                        </div>
                                    </div>
                                </div>
                                <a class="col col-md-6 col-sm-1" href="{{ path('offer_show', {'id': offer.id}) }}">
                                    <div class="d-flex flex-row-reverse">
                                        <img id="see-more" src="{{ asset('build/images/picto/see.svg') }}" alt="picto-see">
                                    </div>
                                </a>
                            </div>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ offer.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                {{ offer.applications.count }} Candidate(s)
                            </button>
                        </h2>
                        <div id="flush-collapse{{ offer.id }}" class="accordion-collapse collapse" data-bs-parent="#application-card">
                            <div class="accordion-body">
                                {% include "components/_carouselCandidates.html.twig" %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
