<div class="text-center"id="dashboard-candidate">
<h3 class="p-4">Welcome {{ candidate.firstname }} 😊</h3>
    <div class="row">
        <div class="col">
            <img src="{{ asset('build/images/picto/received-white.svg') }}" alt="pictoReceivedApplication">
                {% set receveidNber = 0 %}
                {% for application in candidate.applications %}
                    {% if  application.status == constant('App\\Entity\\Application::STATUS_RECEIVED') %}
                        {% set receveidNber = receveidNber + 1 %}
                    {% endif %}
                {% endfor %}
            <div class="col mt-4">
                <p>{{ receveidNber }} <span class="dashboard-candidate-text">application(s)</span></p>
            </div>
        </div>
        <div class="col">
            <img src="{{ asset('build/images/picto/in-review-white.svg') }}" alt="pictoInReviewApplication">
                {% set inReviewNber = 0 %}
                {% for application in candidate.applications %}
                    {% if  application.status == constant('App\\Entity\\Application::STATUS_INREVIEW') %}
                        {% set inReviewNber = inReviewNber + 1 %}
                    {% endif %}
                {% endfor %}
            <div class="col mt-3">
                <p>{{ inReviewNber }} <span class="dashboard-candidate-text">in study</span></p>
            </div>
        </div>
        <div class="col">
            <img src="{{ asset('build/images/picto/accepted-white.svg') }}" alt="pictoAcceptedApplication">
                {% set AcceptedNber = 0 %}
                {% for application in candidate.applications %}
                    {% if  application.status == constant('App\\Entity\\Application::STATUS_ACCEPTED') %}
                        {% set AcceptedNber = AcceptedNber + 1 %}
                    {% endif %}
                {% endfor %}
            <div class="col mt-4">
                <p>{{ AcceptedNber }} <span class="dashboard-candidate-text">approved</span></p>
            </div>
        </div>
        <div class="col">
            <img src="{{ asset('build/images/picto/rejected-white.svg') }}" alt="pictoRejectedApplication">
                {% set rejectedNber = 0 %}
                {% for application in candidate.applications %}
                    {% if  application.status == constant('App\\Entity\\Application::STATUS_REJECTED') %}
                        {% set rejectedNber = rejectedNber + 1 %}
                    {% endif %}
                {% endfor %}
            <div class="col mt-4">
                <p>{{ rejectedNber }} <span class="dashboard-candidate-text">refused</span></p>
            </div>
        </div>
    </div>
</div>
