{% extends 'base.html.twig' %}

{% block title %}Candidate index
{% endblock %}

{% block body %}
	<h1>Candidate index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Location</th>
				<th>Phone</th>
				<th>Resume</th>
				<th>Introduction</th>
				<th>JobTitle</th>
				<th>Experience</th>
				<th>Picture</th>
				<th>Visible</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for candidate in candidates %}
				<tr>
					<td>{{ candidate.id }}</td>
					<td>{{ candidate.firstname }}</td>
					<td>{{ candidate.lastname }}</td>
					<td>{{ candidate.location }}</td>
					<td>{{ candidate.phone }}</td>
					<td>{{ candidate.resume }}</td>
					<td>{{ candidate.introduction }}</td>
					<td>{{ candidate.jobTitle }}</td>
					<td>{{ candidate.experience }}</td>
					<td>{{ candidate.picture }}</td>
					<td>{{ candidate.visible ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
						<a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('candidate_new') }}">Create new</a>
{% endblock %}
