{% extends 'base.html.twig' %}

{% block title %}Candidate
{% endblock %}

{% block body %}
	{% include 'style/component/_navigationBtnMobileCandidate.html.twig' %}
	{% include 'style/component/_navigationBtnDesktopCandidate.html.twig' %}

	<section class="margin">
		<div class="visibility-profile">
			<div class="visibility">
				<div class="viewers">
					<div>
						<p>Visible by recruiters</p>
						<a href="{{ path('candidate_visibility', {'id': candidate.id}) }}">
							<i class="bi {{ candidate.isVisible ? 'bi-toggle-on' : 'bi-toggle-off' }}"></i>
						</a>
					</div>
					<div>
						<p>Viewed by 54 people</p>
						<img class="img_icon fa-border" src="{{ asset('build/images/picto/profil_views.svg') }}" alt="profil_views"/>
					</div>
				</div>
				<div class="candidate-completion">
					<span>Profil completion</span>
					<img class="img_icon fa-border" src="{{ asset('build/images/picto/completion.svg') }}" alt="profil_completion"/>
				</div>
			</div>
			<div class="profile">
				<h1>YOUR PROFILE</h1>
				<img id="picture-profile" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="profile-picture">
                <div id="profile-card" class="p-3">
					<div class="card-body mt-2">
						<div class="profile-informations">
							<p class="name">{{ candidate.firstname }}
								{{ candidate.lastname }}</p>
							<p class="job-title">{{ candidate.jobTitle }}</p>
							<p class="experience">XP
								{{ candidate.experience }}</p>
						</div>
						<div class="metadata">
							{% for metadata in candidate.metadata %}
								{% if metadata.type == 'GitHub' %}
									<a href="{{ metadata.metadata }}">
										<img class="metadata" src="{{ asset('build/images/picto/github_black.svg') }}" alt="github"/>
									</a>
								{% elseif metadata.type == 'linkedin' %}
									<a href="{{ metadata.metadata }}">
										<img class="metadata" src="{{ asset('build/images/picto/linkedin_black.svg') }}" alt="linkedin"/>
									</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="introduction" class="profile-blocks mt-4">
			<div class="card-body p-4 ">
				<img class="quote-left" src="{{ asset('build/images/picto/quoteopen.png') }}" alt="quote"/>
				{{ candidate.introduction }}
				<img class="quote-right" src="{{ asset('build/images/picto/quoteclose.png') }}" alt="quote"/>
			</div>
		</div>
		<div class="resume-upload-resume">
			<div id="resume" class="col text-center mt-4">
				{{ include('candidate/_modal_resume.html.twig') }}
			</div>
			<div id="upload-resume" class="col text-center mt-4">
				{{ form_start(form, {'action': path('candidate_edit', { 'id': candidate.id })}) }}
				{{ form_widget(form) }}
					<div class="text-center">
						<button class="btn btn-primary mt-2 mb-2">
							<img class="img_icon fa-border" src=" {{ asset('build/images/picto/upload.svg') }} " alt="upload-resume"/>
							{{ button_label|default('upload your resume') }}
						</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="skills">
			<div class="profile-blocks mt-4">
				<div class="card-body p-4 ">
					<div class="hard-skills">
						<p>HARD SKILLS</p>
						{% for skill in candidate.skills %}
							{% if skill.type == 'hard' %}
								<div>
									<img class="img_icon fa-border" src="{{ asset('build/images/picto/checked.svg') }}" alt="check"/>
									<span>{{ skill.name }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="profile-blocks mt-4">
				<div class="card-body p-4 ">
					<div class="soft-skills">
						<p>SOFT SKILLS</p>
						{% for skill in candidate.skills %}
							{% if skill.type == 'soft' %}
								<div>
									<img class="img_icon fa-border" src="{{ asset('build/images/picto/checked.svg') }}" alt="check"/>
									<span>{{ skill.name }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<div class="profile-blocks mt-4">
				<div class="card-body p-4 ">
					<p>PORTEFOLIO</p>
					{% for metadata in candidate.metadata %}
						{% if metadata.type == 'portfolio' %}
							<a href="{{ metadata.metadata }}">Portfolio<img src="{{ asset('build/images/picto/link.svg') }}" alt="portfolio"/></a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col text-center mt-4">
			<button type="button" class="btn btn-secondary mt-2">
				<a href="{{ path('candidate_edit', {'id': candidate.id}) }}">Edit</a>
			</button>
		</div>
	</section>
{% endblock %}
