{% extends 'base.html.twig' %}

{% block title %}Candidate
{% endblock %}

{% block body %}
	{% include 'candidate/_dashboard.html.twig' %}
	{% include 'candidate/_navigationBtnMobileCandidate.html.twig' %}
	{% include 'candidate/_navigationBtnDesktopCandidate.html.twig' %}
	<section class="margin">
		<div class="visibility-profile">
			<div class="visibility">
				<div class="viewers">
					<div>
						<p>Visible by recruiters</p>
						<a href="{{ path('candidate_visibility', {'id': candidate.id}) }}">
							<i class="bi {{ candidate.isVisible ? 'bi-toggle-on' : 'bi-toggle-off' }}"></i>
						</a>
					</div>
					<div>
						<p>Viewed by 54 people</p>
						<img class="img_icon fa-border" src="{{ asset('build/images/picto/profil_views.svg') }}" alt="profil_views"/>
					</div>
				</div>
				<div class="candidate-completion">
					<span>Profil completion</span>
					<img class="img_icon fa-border" src="{{ asset('build/images/picto/completion.svg') }}" alt="profil_completion"/>
				</div>
			</div>
			<div class="profile">
				<h1>YOUR PROFILE</h1>
                {% if app.user.candidate.picture is not null %}
                    <img id="picture-profile" src="{{ vich_uploader_asset(candidate, 'pictureFile') }}" alt="profile-picture">
                {% else %}
                    <img src="{{ asset("build/images/user.png") }}" id="picture-profile" alt="default-user" width="50px">
                {% endif %}
                <div id="profile-card" class="p-3">
					<div class="card-body mt-2">
						<div class="profile-informations">
							<p class="name">
                                {{ candidate.firstname }}
								{{ candidate.lastname }}
                            </p>
							<p class="job-title">
                                {{ candidate.jobTitle }}
                            </p>
							<p class="experience">
								{{ candidate.experience }}
                                years of experience
                            </p>
						</div>
						<div class="metadata">
							{% for metadata in candidate.metadata %}
								{% if metadata.github %}
									<a target="_blank" href="{{ metadata.github}}">
										<img class="metadata" src="{{ asset('build/images/picto/github_black.svg') }}" alt="github"/>
									</a>
                                {% endif %}
								{% if metadata.linkedin %}
									<a target="_blank" href="{{ metadata.linkedin }}">
										<img class="metadata" src="{{ asset('build/images/picto/linkedin_black.svg') }}" alt="linkedin"/>
									</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="introduction" class="profile-blocks mt-4">
			<div class="card-body p-4 ">
				<img class="quote-left" src="{{ asset('build/images/picto/quoteopen.png') }}" alt="quote"/>
				{{ candidate.introduction }}
				<img class="quote-right" src="{{ asset('build/images/picto/quoteclose.png') }}" alt="quote"/>
			</div>
		</div>
		<div class="resume-upload-resume">
			<div id="resume" class="col text-center mt-4">
				{% if candidate.resume == "" %}
					<button type="button" id="no-resume" class="btn mt-2"><img class="img_icon fa-border" src=" {{ asset('build/images/picto/cv.svg') }} " alt=" curriculum"/>your resume is empty</button>
				{% else %}
					{{ include('candidate/_modal_resume.html.twig') }}
				{% endif %}
			</div>
		</div>
		<div class="skills">
			<div class="profile-blocks mt-4">
				<div class="card-body p-4 ">
					<div class="hard-skills">
						<p>HARD SKILLS</p>
						{% for skill in candidate.skills %}
							{% if skill.type == 'hard' %}
								<div>
									<img class="img_icon fa-border" src="{{ asset('build/images/picto/checked.svg') }}" alt="check"/>
									<span>{{ skill.name }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="profile-blocks mt-4">
				<div class="card-body p-4 ">
					<div class="soft-skills">
						<p>SOFT SKILLS</p>
						{% for skill in candidate.skills %}
							{% if skill.type == 'soft' %}
								<div>
									<img class="img_icon fa-border" src="{{ asset('build/images/picto/checked.svg') }}" alt="check"/>
									<span>{{ skill.name }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
        {% for metadata in candidate.metadata %}
            {% if metadata.portefolio or metadata.other %}
                <div class="portfolio">
                    <div class="profile-blocks mt-4">
                        <div class="card-body p-4 ">
                            <p>MY PROJECTS</p>
                            {% if metadata.portefolio %}
                                <a target="_blank" href="{{ metadata.portefolio }}">Portfolio<img src="{{ asset('build/images/picto/link.svg') }}" alt="portfolio"/></a>
                            {% endif %}
                            {% if metadata.other %}
                                <a target="_blank" href="{{ metadata.other }}">Other<img src="{{ asset('build/images/picto/link.svg') }}" alt="portfolio"/></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
		<div class="col text-center mt-4">
			<button type="button" class="btn btn-secondary mt-2">
				<a href="{{ path('candidate_edit', {'id': candidate.id}) }}">Edit</a>
			</button>
		</div>
	</section>
{% endblock %}
