{% extends 'base.html.twig' %}

{% block title %}Candidate
{% endblock %}

{% block body %}
	<p>Visible by recruiters</p>
	<a href="{{ path('candidate_visibility', {'id': candidate.id}) }}">
		<i class="bi {{ candidate.isVisible ? 'bi-toggle-on' : 'bi-toggle-off' }}"></i>
	</a>

	<p>Viewed by people</p>
	<img class="img_icon fa-border" src="{{ asset('build/images/profil_views.png') }}" alt="profil_views"/>

	<p>Profil completion</p>

	<h1>YOUR PROFILE</h1>
	<img src="/uploads/{{ candidate.picture }}" alt="picture_profil"/>
	<p>{{ candidate.firstname }}
		{{ candidate.lastname }}</p>
	<p>XP
		{{ candidate.experience }}</p>

	<button type="submit"><img class="img_icon fa-border" src="{{ asset('build/images/cv.png') }}" alt="curriculum"/>your resume</button>
	<button type="submit"><img class="img_icon fa-border" src="{{ asset('build/images/upload.png') }}" alt="upload"/>update your resume</button>

	{% for metadata in candidate.metadata %}
		{% if metadata.type == 'GitHub' %}
			<a href="{{ metadata.metadata }}"><img src="{{ asset('build/images/github_black.png') }}" alt="github"/></a>
		{% elseif metadata.type == 'linkedin' %}
			<a href="{{ metadata.metadata }}"><img src="{{ asset('build/images/linkedin_black.png') }}" alt="linkedin"/></a>
		{% endif %}
	{% endfor %}

	<p>{{ candidate.introduction }}</p>

	<p>HARD SKILLS</p>
	{% for skill in candidate.skills %}
		{% if skill.type == 'hard' %}
			<div class="hard_skills">
				<img class="img_icon fa-border" src="{{ asset('build/images/check.png') }}" alt="check"/>
				<span>{{skill.name}}</span>
			</div>
		{% endif %}
	{% endfor %}

	<p>SOFT SKILLS</p>
	{% for skill in candidate.skills %}
		{% if skill.type == 'soft' %}
			<div class="soft_skills">
				<img class="img_icon fa-border" src="{{ asset('build/images/check.png') }}" alt="check"/>
				<span>{{skill.name}}</span>
			</div>
		{% endif %}
	{% endfor %}

	<p>PORTEFOLIO</p>
	{% for metadata in candidate.metadata %}
		{% if metadata.type == 'portfolio' %}
			<a href="{{ metadata.metadata }}">Portfolio<img src="{{ asset('build/images/link.png') }}" alt="portfolio"/></a>
		{% endif %}
	{% endfor %}

	<a href="{{ path('candidate_edit', {'id': candidate.id}) }}">Edit</a>
{% endblock %}
