<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Application message</title>
</head>
<body>
    <h1>Answer to your application for the offer #{{ application.id }}</h1>
    <h2>Title : {{ application.offer.title }}</h2>
    <p>Hello, your application has been {{ application.status }}.</p>
    <p>{{ application.offer.company.name }} sent you this message : </p>
    <p>{{ application.mailMessage }}</p>
</body>
</html>